body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.bigdiv{
    width: 100vw;
    height: 100vh;
}
.YearBoxdiv{
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.YearBox{
    background: rgba(255, 254, 254, 0.7);
    text-align: center;
    height: 50px;
    width: 22.22%;
    font-size: 50px;
    margin-left: 5%;
}
.yearinbutton{
    margin-left: 2%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchimg{
    height: 40px;
    width: 40px;
    
    transform: scaleX(-1);
}

.MonthBoxdiv{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.MonthBox{
    background: rgba(255, 254, 254, 0.7);
    text-align: center;
    height: 56px;
    width: 33.3333333%;
    font-size: 50px;
    vertical-align: top;
}
.leftmonthbutton{
    cursor: pointer;
    margin-right: 50px;
    height: 56px;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.leftarrimg{
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
    transform: scaleX(-1);
}
.rightarrimg{
    height: 50px;
    width: 50px;
    padding: 0px;
}

.rightmonthbutton{
    cursor: pointer;
    margin-left: 50px;
    height: 56px;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.monthtable,th,td{
    background: rgba(255, 254, 254, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    width: 100px;
    height: 80px;

    font-size: 60px;
}
.tds{
    width: 10px;
    height: 53px;

    font-size: 35px;
}


.monthtable{
    margin-top: 6%;
    margin-bottom: 10%;
    width: 69%;
}
.monthtablesm{
    background: rgba(255, 254, 254, 0.4);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 80%;
}
.monthtablediv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.monthtabledivsm{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 890px) {
    .hideonmobiletable {
      display: none;
    }
  }
  @media (min-width: 891px) {
    .showonmobiletable {
      display: none;
    }
  }
  @media (max-width: 620px) {
    .hideonmobileweekname {
      display: none;
    }
  }
  @media (min-width: 621px) {
    .showonmobileweekname {
      display: none;
    }
  }
  @media (max-width: 450px) {
    .tds {
      font-size: 35px;
      height: 40px;
    }
  }
  @media (min-width: 451px) {
    .tds {
      font-size: 55px;
      height: 53px;
    }
  }